<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Create Mail</title>
  </head>
  <body>
    <h1>Create Mail</h1>

    <form th:action="@{/mail/create}" th:object="${mailForm}" method="post">
      <div>Subject: <input type="text" th:field="*{subject}" /></div>
      <div>
        Template:
        <select id="templateSelect">
          <option value="">Select template</option>
          <option
            th:each="template : ${templateList}"
            th:value="${template.templateId}"
            th:text="${template.templateName}"
          ></option>
        </select>
      </div>
      <div>Message: <textarea th:field="*{message}"></textarea></div>
      <button type="submit">Save</button>
    </form>

    <p>
      <a th:href="@{/mail/list}"><button type="button">Back</button></a>
    </p>
    <script th:src="@{/js/mail-template.js}"></script>
  </body>
</html>
